@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
:root {
  --bg-color: #252525;
  --sc-bg-color: #f44c7f;
  --text-color: #f2faff;
  --sc-text-color: #ff0008;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  font-size: medium;
  color: var(--text-color);
}

body {
  background-color: var(--bg-color);
}

.header {
  min-height: 10vh;
  background-color: var(--bg-color);
  z-index: 5;
  border-radius: 0 0 10% 10%;
  border-bottom: 4px solid var(--sc-text-color);
  opacity: 0.99;
}
.main {
  padding-top: 5vh;
  min-height: 75vh;
  z-index: 1;
}
.remove {
  transform: translateX(-100%);
}
.footer {
  background-color: var(--bg-color);
  min-height: 10vh;
  z-index: 10;
  position: fixed;
  width: 100%;
  padding: 2rem;
  border-top: 4px solid var(--sc-text-color);
  border-radius: 10%;
  top: 90vh;
  left: 0;
  opacity: 0.99;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 5px;
}
.list-group-item {
  width: 25%;
}
.icon {
  min-width: 10%;
}
.bi {
  color: var(--sc-bg-color);
  font-size: 1.5rem;
}

.project {
  padding-top: 5vh;
  width: 100%;
}
.skills {
  width: 100%;
  padding-top: 10px;
}
.nav-link {
  color: var(--text-color);
}
.nav-link:hover {
  color: var(--sc-text-color);
  scale: 1.1;
}

@media (min-width: 768px) {
  .left {
    width: 55%;
  }
  .right {
    width: 40%;
  }
  .project {
    width: 25%;
  }
}
.last-page {
  padding-bottom: 12vh;
}

html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

[data-scroll-direction="horizontal"] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap;
}

[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
}
.c-scrollbar:hover {
  transform: scaleX(1.45);
}
.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
  opacity: 1;
}
[data-scroll-direction="horizontal"] .c-scrollbar {
  width: 100%;
  height: 10px;
  top: auto;
  bottom: 0;
  transform: scaleY(1);
}
[data-scroll-direction="horizontal"] .c-scrollbar:hover {
  transform: scaleY(1.3);
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}
.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
  right: auto;
  bottom: 0;
}
